.tab_h2{text-align: center;color:blue;}
.tab_p{text-align: center;color: #999;letter-spacing: 1px margin:20px 0px;font-size: 1.5em}
.media-heading{line-height: 30px}
.row{padding: 20px 0;}
.text-muted{text-align: center;}
.tab_h2{text-align: center}
.tab2 img{width: 40%;height: 40%}
.tab2{padding:20px 0;}
.tab3{background: gray;}
.footer{line-height: 30px;background: #ccc;text-align: center}
.footer ul{list-style-type: none;}